body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

hr.style1 {
  border-top: 2px solid #8c8b8b;
}

.active-player {
  font-weight: bold;
}

li.taboo-word {
  list-style-type: none;
}

.guess-word {
  font-weight: bold;
}

.timer {
  font-weight: bold;
  font-size: 1.5em;
}

/* EdiText */
.et-center-buttons {
  display: flex;
  flex-direction: column;
}

.et-center-buttons div:last-child {
  /* Here we are styling the button container. */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
